# Ignora ambiente virtual
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de sistema
.DS_Store
Thumbs.db

# Configs de IDEs
.vscode/
.idea/

# Variáveis de ambiente
.env

# Banco de dados
instance/*.db
instance/*.db-journal
instance/*.db-shm
instance/*.db-wal

# Logs
*.log

# Temporários
check_db.py